.post-container {
  width: 604px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.post {
  height: 924px;
  border: 1px solid #efefef;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-header {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding: 18px 0;
}

.post-header h2 {
  margin-left: 9px;
}

.post-img {
  max-width: 603px;
}

.post-footer {
  height: 28%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  flex-grow: 1;
  align-content: flex-start;
}

.post-footer h3 {
  width: 100%;
}

.post-footer h3, h4, p, form {
  padding-top: 14px;
}

.post form {
  margin-bottom: 20px;
}

.post form input {
  font-size: 1.6rem;
  font-weight: bold;
}
