.post-container {
  width: 604px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.post {
  height: 924px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-header {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding: 15px 0;
}

.post-header h2 {
  margin-left: 9px;
}

.post-img {
  max-width: 603px;
}

.post-footer {
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 16px;
}
